# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

___Objectives:___
+ List popular languages for Data Science
+ List popular libraries in Data Science
+ List the Data Science Tools
+ List the popular IDEs
+ List popular data visualisation tools

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. SQL
    4. Scala
    5. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib
5. Seaborn

|Data Science Tools|
------------------------------
|TensorFlow|
|Hadoop|
|Apache Spark|
|Apache Flink|
|KNIME|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

## Author
Susan